<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Plataforma Yoko</title>
  {% block html_head %}

  <style>

  .chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
  }

  </style>

  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/xlsx/dist/shim.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/blob.js@1.0.1/Blob.js"></script>
  <script type="text/javascript" src="https://unpkg.com/file-saver@1.3.3/FileSaver.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js" integrity="sha256-L5UrDL85pnc3dVSupREhWWurHen/8KrdE3sg++Qr/FQ=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='tablefilter/tablefilter.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablefilter/style/tablefilter.css')}}" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
  displayAlign: "left"
  });
</script>

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/dist/semantic.min.css')}}">
<script src="{{ url_for('static', filename='semantic/dist/semantic.min.js')}}"></script>

<script>
function doit(type, fn, dl) {
	var elt = document.getElementById('data-table');
	var wb = XLSX.utils.table_to_book(elt, {sheet:"Sheet JS"});
	return dl ?
		XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}) :
		XLSX.writeFile(wb, fn || ('SheetJSTableExport.' + (type || 'xlsx')));
}

function converter(type, fn, dl) {
  var workbook = XLSX.utils.book_new();
  var tabelas = document.getElementsByTagName('TABLE');
  for (i=0; i<tabelas.length; i++) {
    var ws = XLSX.utils.table_to_sheet(tabelas[i]);
    var numPlanilha = i.toString();
    var nomePlanilha = "Planilha";
    nomePlanilha = nomePlanilha.concat("-",numPlanilha);
    XLSX.utils.book_append_sheet(workbook, ws, nomePlanilha);
  }

  if (dl) {
    return(XLSX.write(wb, {bookType:type, bookSST:true, type: 'base64'}));
  }
  else {
    return(XLSX.writeFile(workbook, fn || ('planilha.' + (type || 'xlsx'))));

  }

}

</script>

<script>

/*
	A simple, lightweight jQuery plugin for creating sortable tables.
	https://github.com/kylefox/jquery-tablesort
	Version 0.0.11
*/
/*
(function($) {
	$.tablesort = function ($table, settings) {
		var self = this;
		this.$table = $table;
		this.$thead = this.$table.find('thead');
		this.settings = $.extend({}, $.tablesort.defaults, settings);
		this.$sortCells = this.$thead.length > 0 ? this.$thead.find('th:not(.no-sort)') : this.$table.find('th:not(.no-sort)');
		this.$sortCells.on('click.tablesort', function() {
			self.sort($(this));
		});
		this.index = null;
		this.$th = null;
		this.direction = null;
	};

	$.tablesort.prototype = {

		sort: function(th, direction) {
			var start = new Date(),
				self = this,
				table = this.$table,
				rowsContainer = table.find('tbody').length > 0 ? table.find('tbody') : table,
				rows = rowsContainer.find('tr').has('td, th'),
				cells = rows.find(':nth-child(' + (th.index() + 1) + ')').filter('td, th'),
				sortBy = th.data().sortBy,
				sortedMap = [];

			var unsortedValues = cells.map(function(idx, cell) {
				if (sortBy)
					return (typeof sortBy === 'function') ? sortBy($(th), $(cell), self) : sortBy;
				return ($(this).data().sortValue != null ? $(this).data().sortValue : $(this).text());
			});
			if (unsortedValues.length === 0) return;

			//click on a different column
			if (this.index !== th.index()) {
				this.direction = 'asc';
				this.index = th.index();
			}
			else if (direction !== 'asc' && direction !== 'desc')
				this.direction = this.direction === 'asc' ? 'desc' : 'asc';
			else
				this.direction = direction;

			direction = this.direction == 'asc' ? 1 : -1;

			self.$table.trigger('tablesort:start', [self]);
			self.log("Sorting by " + this.index + ' ' + this.direction);

			// Try to force a browser redraw
			self.$table.css("display");
			// Run sorting asynchronously on a timeout to force browser redraw after
			// `tablesort:start` callback. Also avoids locking up the browser too much.
			setTimeout(function() {
				self.$sortCells.removeClass(self.settings.asc + ' ' + self.settings.desc);
				for (var i = 0, length = unsortedValues.length; i < length; i++)
				{
					sortedMap.push({
						index: i,
						cell: cells[i],
						row: rows[i],
						value: unsortedValues[i]
					});
				}

				sortedMap.sort(function(a, b) {
					return self.settings.compare(a.value, b.value) * direction;
				});

				$.each(sortedMap, function(i, entry) {
					rowsContainer.append(entry.row);
				});

				th.addClass(self.settings[self.direction]);

				self.log('Sort finished in ' + ((new Date()).getTime() - start.getTime()) + 'ms');
				self.$table.trigger('tablesort:complete', [self]);
				//Try to force a browser redraw
				self.$table.css("display");
			}, unsortedValues.length > 2000 ? 200 : 10);
		},

		log: function(msg) {
			if(($.tablesort.DEBUG || this.settings.debug) && console && console.log) {
				console.log('[tablesort] ' + msg);
			}
		},

		destroy: function() {
			this.$sortCells.off('click.tablesort');
			this.$table.data('tablesort', null);
			return null;
		}

	};

	$.tablesort.DEBUG = false;

	$.tablesort.defaults = {
		debug: $.tablesort.DEBUG,
		asc: 'sorted ascending',
		desc: 'sorted descending',
		compare: function(a, b) {
			if (a > b) {
				return 1;
			} else if (a < b) {
				return -1;
			} else {
				return 0;
			}
		}
	};

	$.fn.tablesort = function(settings) {
		var table, sortable, previous;
		return this.each(function() {
			table = $(this);
			previous = table.data('tablesort');
			if(previous) {
				previous.destroy();
			}
			table.data('tablesort', new $.tablesort(table, settings));
		});
	};

})(window.Zepto || window.jQuery);

*/
</script>

<script>
window.onload = function(){
    $('.ui.dropdown').dropdown();
    $('table').tablesort();
};
</script>

<script>
  function salvarPDF() {

    var pdf = new jsPDF('p', 'pt', 'letter');
    pdf.setLanguage('pt-BR');
    pdf.html(document.body, {
      callback: function (pdf) {
        var iframe = document.createElement('iframe');
				iframe.setAttribute('style', 'position:absolute;right:0; top:0; bottom:0; height:100%; width:500px');
				document.body.appendChild(iframe);
				iframe.src = pdf.output('datauristring');
        //pdf.save('teste.pdf');
      }
    });

  }

</script>

<script>
function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}

function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);

        csv.push(row.join(","));
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}
</script>

<script>
  function converter2PDF() {
    var opt = {
      margin:       1,
      filename:     'myfile.pdf',
      image:        { type: 'jpeg', quality: 0.98 },
      html2canvas:  { scale: 2 },
      jsPDF:        { unit: 'mm', format: 'a4', orientation: 'landscape' }
    };
    var width = 600;
    var largura = document.body.style.width;
    document.body.style.width = width + "px";
    // New Promise-based usage:
    element = document.body;
    html2pdf().set(opt).from(element).save();

    html2pdf(document.body,opt);
    document.body.style.width = largura;
  }
</script>

<script>

  function cleanTables() {

    var tabelas = document.getElementsByTagName('table');
    var i;
    for (i=0; i<tabelas.length; i++) {
      numero = i.toString();
      tabelas[i].id="tab" + numero;
      tabelas[i].setAttribute("class","");
    }

    var filtersConfig = {
            base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
            grid: false
        };
    var tabelas = document.getElementsByTagName('table');
    var i;
    for (i=0; i<tabelas.length; i++) {
      var tf = new TableFilter(tabelas[i].id, filtersConfig);
      tf.init();
    }

  }

  function setTable(table) {
    var filtersConfig = {
            base_path: 'https://unpkg.com/tablefilter@latest/dist/tablefilter/',
            col_0: 'checklist',
            alternate_rows: true,
            responsive: true,
            rows_counter: true,
            extensions: [{ name: 'sort' }]
        };
    var tf = new TableFilter(table, filtersConfig);
    tf.init();
  }

</script>

</head>
<body>

  <div id="header">
  {% block header %}
  <center><img src="{{ url_for('static', filename='brasao_uniao.png')}}" width="8%" alt="" align="center"></center>
  <br><center>
  Ministério da Educação<BR>
  Universidade Federal do Cariri<BR>
  Pró-reitoria de Planejamento e Orçamento <BR>
  Coodenadoria de Informação, Monitoramento e Avaliação Institucional<BR>
  <h4>Plataforma Yoko (Módulo Análise de Dados)</h4><br>
  <div class="ui icon buttons">
      <button onclick="exportTableToCSV('exportar.csv');" class="ui basic button">
        <i class="download icon"></i>
      CSV
      <!--<div class="floating ui teal label">22</div>-->
      </button>
      <button id="create_xlsx" onclick="converter('xlsx');" class="ui basic button">
      <i class="database icon"></i>
      XLSX
      </button>
      <button id="create_ods" onclick="converter('ods');" class="ui basic button">
      <i class="database icon"></i>
      ODS
      </button>
      <!-- <button id="create_pdf" onclick="converter2PDF();" class="ui button">
      <i class="database icon"></i>
      PDF
    </button>-->
</div>
  </center>
    <div class="ui divider"></div>
  {% endblock %}
 </div>

  <div id="content">
    {% block content %}

    {% endblock %}
  </div>

  <script>
  cleanTables();
  </script>

  <div id="scripts">
    {% block scripts %}

    {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
    <div class="ui divider"></div>
     <br><br><center><i class="marker icon"></i>Av. Tenente Raimundo Rocha Nº 1639, Bairro Cidade Universitária, Juazeiro do Norte - (88) 3221-9345 <br>
      <i class="linkify icon"></i> Site: www.ufca.edu.br <i class="mail icon"></i> e-mail: cimai.proplan@ufca.edu.br</center>
    <div class="ui divider"></div>
     <br><br><center>Plataforma Yoko (Módulo Análise de Dados) <i class="file code outline icon"></i>Versão: {{versao}} <i class="linkify icon"></i> <a href="http://www.ufca.edu.br">Pró-reitoria de Planajamento e Orçamento - PROPLAN</a>.
     <br>Coordenadoria de Avaliação, Monitoramento e avaliação institucional
     <br><i class="user icon"></i>Responsável: Prof. Rafael Perazzo
     <br><i class="phone icon"></i>Contatos: (88)3221-9566 - <i class="mail icon"></i> rafael.mota at ufca.edu.br</center>
    <div class="ui divider"></div>
    <div class="ui tiny images">
        <center>
            <img class="ui image" src="{{ url_for('static', filename='gnu.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='linux.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='debian.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='apache.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='python.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='flask.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='javascript.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='semantic.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='selenium.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='sheet.png')}}">
            <img class="ui image" src="{{ url_for('static', filename='pandas.png')}}">
      </center>
    </div>
    {% endblock %}
  </div>

</body>
</html>
