<html>

<head>
    <title>MONITORAMENTO DA COVID19 NA REGIÃO DO CARIRI</title>
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>

    <a href="https://play.google.com/store/apps/details?id=pet.yoko.apps.covid">
    
        <img src="{{ url_for('static', filename='logo_principal.png')}}" alt="lOGO" class="responsive">
    
    </a>
    <a href="https://play.google.com/store/apps/details?id=pet.yoko.apps.covid">
    
        <img src="{{ url_for('static', filename='classificacao.png')}}" alt="lOGO" class="responsive">
    
    </a>

</body>

</html>