{% extends "MOBILE.html" %}

{% block title %}
Casos confirmados por idade
{% endblock %}

{% block body %}

<div class="chart-container" style="position: relative; height:80%; width:100vw">
  <canvas id="confirmadosIdade" width="100vw" height="80%"></canvas>
  <script>
    new Chart(document.getElementById("confirmadosIdade"), {
        type: 'bar',
        data: {
          labels: {{agrupamentos[6]|safe}},
          datasets: [{
            label: "Quantidade",
            backgroundColor: {{cores|safe}},
            data: {{agrupamentos[7]|safe}}
          }
          ]
        },

        options: {
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text: 'Casos Confirmados por idade'
          },
          ticks: {
            min: 0,
            max: 10
          },
          scales: {
            yAxes : [{
                ticks : {
                    min : 0,
                    suggestedMax: 10
                }
            }]
          }
        }
    });
  </script>
</div>
{% endblock %}

